{include file="public/header" /}
    <div class="content">
        <div class="header">
            <h1 class="page-title">编辑导航分类</h1>
        </div>
                <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">编辑导航分类</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button class="btn btn-primary" onClick="location='{:url('/admin/nav/list')}'"><i class="icon-list"></i> 导航分类列表</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form action="/admin/nav/edit/cid/{$cate.nav_id}" method="post">
			<input type="hidden" name="nav_id" value="{$cate.nav_id}" />
            <label>导航分类名称</label>
            <input type="text" name="nav_name" value="{$cate.nav_name}" class="input-xxlarge">
            <label>导航分类排序</label>
            <input type="text" name="nav_ord" value="{$cate.nav_ord}" class="input-xxlarge">
            <label>导航分类链接</label>
            <input type="text" name="nav_url" value="{$cate.nav_url}" class="input-xxlarge">
            <label></label>
            <input class="btn btn-primary" type="submit" value="提交" />
        </form>
      </div>
  </div>

</div>


                    
                  
                    
            </div>
        </div>
    </div>
    


    <script src="/static/admin/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>


