{include file="public/header2"}
 <div class="container mb">
  <div class="row">
   <div class="col-md-2"> <div class="tree-box">
 <h3>公司信息</h3>
 <ul>
  <li><a href="{:url('/index/index/about')}">公司简介</a></li>
  <li><a href="{:url('/index/index/history')}">发展历程</a></li>
  <li><a href="{:url('/index/index/job')}">人才招聘</a></li>
  <li><a href="{:url('/index/index/contact')}">联系我们</a></li>
     </ul>
</div> </div>
   <div class="col-md-10"> <div class="ur-here">
 当前位置：<a href="{:url('/index/index/job')}">首页</a><b>></b>人才招聘</div>    <div id="page">
     <h1>人才招聘</h1>
     <div class="content">
    {$page.page_content|raw}
      </div>
    </div>
   </div>
  </div>
 </div>
{include file="public/footer"}