{include file="public/header" /}
    <div class="content">
        <div class="header">
            <h1 class="page-title">添加新闻</h1>
        </div>
                <ul class="breadcrumb">
            <li><a href="{:url('/admin/index/index')}">Home</a> <span class="divider">/</span></li>
            <li class="active">添加新闻</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    
<div class="btn-toolbar">
    <button class="btn btn-primary" onClick="location='{:url('/admin/news/list')}'"><i class="icon-list"></i>新闻列表</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form action="/admin/news/add" method="post" enctype="multipart/form-data">
            <label>添加新闻标题</label>
            <input type="text" name="art_title" value="" class="input-xxlarge">
            <label>添加新闻点击率</label>
            <input type="text" name="art_click" value="" class="input-xxlarge">
            <label>添加新闻图片</label>
            <input type="file" name="art_img" value="" class="input-xxlarge">
            <label>添加新闻详情</label>
            <textarea name="art_content" class="input-xxlarge" cols="30" rows="10"></textarea>
            <label>新闻添加时间</label>
            <input type="date" name="art_addtime" value="" class="input-xxlarge">
            <label>添加新闻排序</label>
            <input type="text" name="art_ord" value="" class="input-xxlarge">
            <label>是否显示</label>
            <select name="is_show" >
                <option value="">请选择</option>
                <option value="1">是</option>
                <option value="2">否</option>
            </select>
            <label>所属分类</label>
            <select name="cat_id" >
                <option value="">请选择</option>
                {foreach $catart as $v}
                <option value="{$v.cat_id}">{$v.cat_name}</option>
                {/foreach}
            </select>
            <label></label>
            <input class="btn btn-primary" type="submit" value="提交" />
        </form>
      </div>
  </div>

</div>


                   
            </div>
        </div>
    </div>
    


    <script src="/static/admin/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  </body>
</html>


