{include file="public/header" /}
    <div class="content">
        <div class="header">
            <h1 class="page-title">文章分类列表</h1>
        </div>
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li class="active">List</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">        
<div class="btn-toolbar">
    <button class="btn btn-primary" onClick="location='{:url('/admin/catart/add')}'"><i class="icon-plus"></i>添加文章分类</button>
  <div class="btn-group">
  </div>
</div>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>分类名称</th>
          <th>分类排序</th>
          <th>添加时间</th>
          <th style="width: 26px;"></th>
        </tr>
      </thead>
      <tbody>
		{foreach $blog as $v}
        <tr name="a_{$v.cat_id}">
          <td>{$a++}</td>
          <td>{$v.cat_name}</td>
          <td>{$v.cat_ord}</td>
          <td>{$v.cat_addtime|date="Y-m-d"}</td>
          <td>
              <a href="{:url('/admin/catart/edit/cid/'.$v['cat_id'])}"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal" dataid="{$v.cat_id}" class="del"><i class="icon-remove"></i></a>
          </td>
        </tr>
        {/foreach}
      </tbody>
    </table>
</div>

<div class="pagination">
	{$blog|raw}
</div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal" cid="">Delete</button>
    </div>
</div>           
        </div>
    </div>
    </div>
    <style type="text/css">
		.tip{
			position:absolute;
			width:20%;
			height:36px;
			line-height:36px;
			text-align:center;
			font-size:20px;
			color:#fff;
			background-color:rgba(138,138,138,.5);
			border-radius:5px;
			left:50%;
			top:200px;
			transform:translateX(-50%);
			display:none;
		}
	</style>
	<div class="tip"></div>   
    <script src="/static/admin/lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
		$('.del').click(function(){
			var dataid=$(this).attr('dataid');
			$('.btn-danger').attr('cid',dataid);
		})
		$('.btn-danger').click(function(){
			var cid=$(this).attr('cid');
			$(".table tr[name='a_"+cid+"']").remove();
			$.ajax({
				type:'get',
				url:"{:url('/admin/catart/del')}",
				data:'cid='+cid,
				dataType:'text',
				success:function(z){
					console.log(z);
					if(z==1){
						$('.tip').html('删除成功');
						$('.tip').fadeIn(500);
						function nn(){
							$('.tip').fadeOut(500);
						}
						setTimeout(nn,2000);
					}
				}
			})
		})
    </script>
    
  </body>
</html>


